body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #cbc3c3;
}

#display {
    height: 50px;
    background-color: #de890a;
    color: #fff;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
}

.buttons {
    display:grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
}
