body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1b1a1a;
}

.container {
    text-align: center;
    background: rgb(233, 127, 6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
